body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('assets/flagbackground.jpg') no-repeat center center;
  background-size: cover;
}

h1, h2 {
  font-family: 'Roboto Flex', sans-serif;
}

.container {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 800px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  max-height: 90%;
  overflow-y: auto;
}

textarea {
  width: 90%;
  height: 100px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

#submit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  font-family: 'Roboto Flex', sans-serif;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #063669;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#response {
  margin-top: 20px;
  text-align: left;
  font-family: Consolas, monospace;
}

#gifs {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#response img {
  display: block;
  margin: 0 auto;
}

#approval {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border-radius: 8px;
  width: fit-content; /* Adjust width to fit text content */
  margin: 0 auto; /* Center the box horizontally */
}

#approval p {
  text-align: center; /* Center the paragraph text */
  margin: 0; /* Remove default margin */
}

p {
  text-align: justify;
  max-width: 90%;
  margin: 0 auto;
  font-size: 18px;
  padding-bottom: 10px;
}

.result {
  text-align: justify;
  max-width: 90%;
  margin: 0 auto;
  font-size: 18px;
}

.dots {
  display: inline-block;
  font-weight: bold;
}